  <div class="container">
    <div class="modal bg-gray-100 rounded-lg shadow-xl p-10">
      <header [class]="selectPokemon.types[0].type.name">
        <div class="image">
          <img *ngIf="classicMode && !isShiny" [src]="selectPokemon.sprites?.front_default" [alt]="selectPokemon.name">
          <img *ngIf="isShiny && classicMode" [src]="selectPokemon.sprites.front_shiny" [alt]="selectPokemon.name">
          <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{selectPokemon.name}}.gif" [alt]="selectPokemon.name">
        </div>
        <div class="selectGif">
          <input type="checkbox" [checked]="classicMode" (change)="classicMode = !classicMode">
          {{classicMode ? 'Classic' : 'Gif'}}
        </div>
        <div class="selectShiny">
          <input type="checkbox" [checked]="isShiny" (change)="isShiny = !isShiny">
        </div>
      </header>

      <section class="subtitle">
        <div class="title">
          <h2 class="text-gray-900">{{ selectPokemon.name }}</h2>
        </div>
          <div class="types">
            <div *ngIf="selectPokemon.types.length === 1">
              <h2>{{ selectPokemon.types[0].type.name}}</h2>
            </div>
            <div *ngIf="selectPokemon.types.length === 2">
              <h2>{{ selectPokemon.types[0].type.name}}</h2>
              <h2 >{{ selectPokemon.types[1].type.name }}</h2>
            </div>
          </div>
      </section>

      <section class="content stats">
        <div>
          <p>Weight: {{ selectPokemon.weight }}</p>
          <p>Height: {{ selectPokemon.height }} </p>
          <p>Base experience: {{ selectPokemon.base_experience }} </p>
        </div>
      </section>

      <footer class="footer flex align-bottom">
        <div class="flex align-bottom">
          <button>Status</button>
          <button>Attacks</button>
          <button>Evolutions</button>
        </div>
      </footer>

    </div>
  </div>
