.modal{
  margin-top: 50px;
  height: 700px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: end;
}

.selectGif{
  margin-left: 90%;
}


.grass{
  background-color: #b4e656;
}
.bug{
  background-color: #c7d76e;
}
.water{
  background-color: #88DFF2;
}
.ice{
  background-color: #C2E5F2;
}
.ground{
  background-color: #c68860;
}
.rock{
  background-color: #8b604b;
}
.fire{
  background-color: #ff7240;
}
.fighting{
  background-color: #ff286b;
}
.fairy{
  background-color: #ffa5b4;
}
.psychic {
  background-color: #ff76b9;
}
.dragon{
  background-color: mediumpurple;
}
.poison{
  background-color: #8c579f;
}
.ghost{
  background-color: #4e2ba3;
}
.electric{
  background-color: #FFFB00;
}
.title{
  text-align: center;
}
.normal{
  background-color: lightgray;
}
