  <div class="container">
    <div class="modal bg-gray-100 rounded-lg shadow-xl p-10">
      <header [class]="selectPokemon.types[0].type.name">
        <div class="image">
          <img *ngIf="classicMode && !isShiny && !isBack" [src]="selectPokemon.sprites?.front_default" [alt]="selectPokemon.name">
          <img *ngIf="isBack && !isShiny && classicMode" [src]="selectPokemon.sprites.back_default" [alt]="selectPokemon.name">
          <img *ngIf="isBack && isShiny && classicMode" [src]="selectPokemon.sprites.back_shiny" [alt]="selectPokemon.name">
          <img *ngIf="!isBack && isShiny && classicMode" [src]="selectPokemon.sprites.front_shiny" [alt]="selectPokemon.name">
          <img *ngIf="!classicMode && !isShiny" src="https://projectpokemon.org/images/normal-sprite/{{selectPokemon.name}}.gif" [alt]="selectPokemon.name">
          <img *ngIf="!classicMode && isShiny" src="https://projectpokemon.org/images/shiny-sprite/{{selectPokemon.name}}.gif" [alt]="selectPokemon.name">
        </div>
        <div class="select">
          <button (click)="isShiny = !isShiny"><img src="https://cdn-icons-png.flaticon.com/512/56/56786.png" alt="simbolo de estrela"></button>
          <button (click)="classicMode = !classicMode"><img src="https://cdn-icons-png.flaticon.com/512/1837/1837532.png" alt="simbolo de estrela"></button>
          <button (click)="isBack = !isBack" *ngIf="classicMode"><img src="https://cdn-icons-png.flaticon.com/512/15/15463.png" alt="simbolo de inverssão"></button>
        </div>
      </header>

      <section class="subtitle">
        <div class="title">
          <h1 class="text-gray-900">{{ selectPokemon.name }}</h1>
        </div>
          <div class="types">
            <div *ngIf="selectPokemon.types.length === 1" class="flex justify-center">
              <div [class]="selectPokemon.types[0].type.name" class="typeHeight text-2xl">
                <h2 class="type">{{ selectPokemon.types[0].type.name}}</h2>
              </div>
            </div>
            <div *ngIf="selectPokemon.types.length === 2" class="flex justify-center">
              <div [class]="selectPokemon.types[0].type.name" class="typeHeight text-2xl">
                <h2 class="type">{{ selectPokemon.types[0].type.name}}</h2>
              </div>
              <div [class]="selectPokemon.types[1].type.name" class="typeHeight mx-5 text-2xl">
                <h2 class="type">{{ selectPokemon.types[1].type.name }}</h2>
              </div>
            </div>
          </div>
      </section>

      <section *ngIf="statusInfo" class="content stats">
        <div class="my-2">
          <br>
          <p>Weight: {{ selectPokemon.weight }}</p>
          <p>Height: {{ selectPokemon.height }} </p>
          <p>Base experience: {{ selectPokemon.base_experience }}</p>
          <br>
          <p>Abilities:</p>
        </div>
        <div class="flex">
          <p *ngFor="let ability of selectPokemon.abilities" class="bg-zinc-300 mx-1 p-1 rounded">{{ ability.ability.name }}</p>
        </div>
      </section>

    </div>
  </div>
