<div class="bg-gray-200 grid-rows-1 xl:inline-grid xl:grid-cols-3 mx-3">
  <div class="
  2xl:inline-grid 2xl:grid-cols-2 2xl:gp-3 mx-3
  xl:inline-grid xl:grid-cols-1 xl:gp-3 mx-3
  lg:inline-grid xl:grid-cols-1 xl:gp-3 mx-3
  md:inline-grid md:grid-cols-1 md:gp-3 mx-3
  sm:inline-grid sm:grid-cols-4 sm:gp-3 mx-3
">
    <app-action-dialog *ngIf="selectPokemon" [selectPokemon]="selectPokemon" class="sm:inline-grid sm:grid-cols-4 sm:gp-3 mx-3"></app-action-dialog>
  </div>

  <div class="col-span-2">
    <div class="inputs">
      <input [formControl]="search" (keydown.enter)="onSearchPokemon()" placeholder="Ex: pikachu" class="searchPokemon">
      <button (touchend)="classicMode" (click)="classicMode = !classicMode"><img src="https://cdn-icons-png.flaticon.com/512/3399/3399713.png" alt="Ativar gif" class="imageGif"></button>
    </div>
    <div *ngIf="!isSearching" class="
    xl:inline-grid xl:grid-cols-4 col-span-2 col-end-3 xl:gap-3 mx-3
    lg:inline-grid lg:grid-cols-4 col-span-2 col-end-3 lg:gap-3 mx-3
    md:inline-grid md:grid-cols-3 col-span-2 col-end-3 md:gap-3 mx-3
    sm:inline-grid sm:grid-cols-2 col-span-2 col-end-3 sm:gap-3 mx-3
">
    <div class="rounded-lg shadow-xl p-10 justify-center bg-gray-100"
      *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalPokemons}" (click)="getSelectPokemon(pokemon)">
        <p class="text-gray-900 text-center text-xl">{{ pokemon.name }}</p>
        <div class="flex">
          <img *ngIf="classicMode" [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
          <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name}}.gif" [alt]="searchPokemon.name">
        </div>
    </div>
      <div class="flex justify-center">
        <button (click)="loadPreviusPage(); pokemons = []" class="mx-1 my-1"><img src="https://cdn-icons-png.flaticon.com/512/159/159605.png" alt="seta para a pagina anterior"></button>
        <button (click)="loadNextPage(); pokemons = []" class="mx-1 my-1"> <img src="https://cdn-icons-png.flaticon.com/512/159/159605.png" alt="seta para a proxima pagina" class="previusArrow"> </button>
      </div>
  </div>
  <br>

  <div *ngIf="isSearching" class="bg-gray-200">
    <div (click)="getSelectPokemon(searchPokemon)" class="rounded-lg shadow-xl p-10 justify-center bg-gray-100">
      <div>
        <div class="card__info">
          <h2 class="color-white">{{searchPokemon.name}}</h2>
        </div>
        <div class="card__img">
          <img *ngIf="classicMode" [src]="searchPokemon.sprites?.front_default" [alt]="searchPokemon.name">
          <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{searchPokemon.name}}.gif" [alt]="searchPokemon.name">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

