<div class="bg-gray-200 grid-rows-1 xl:inline-grid xl:grid-cols-3 mx-3">
  <div class="xl:inline-grid xl:grid-cols-1 xl:gp-3 mx-3">
    <app-action-dialog [selectPokemon]="selectPokemon"></app-action-dialog>
  </div>
  <div class="col-span-2">
  <input type="checkbox" [checked]="classicMode" (change)="classicMode = !classicMode">
  {{classicMode ? 'Classic' : 'Gif'}}
  <input [formControl]="search" (keydown.enter)="onSearchPokemon()" placeholder="Pikachu">
  <div *ngIf="!isSearching" class="xl:inline-grid xl:grid-cols-4 col-span-2 col-end-3 xl:gap-3 mx-3">
    <div class="rounded-lg shadow-xl p-10 justify-center bg-gray-100"
      *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 12, currentPage: page, totalItems: totalPokemons}" (click)="getSelectPokemon(pokemon)">
        <h1 class="text-gray-900 text-center">{{ pokemon.name }}</h1>
        <div class="flex">
          <img *ngIf="classicMode" [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
          <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{pokemon.name}}.gif" [alt]="searchPokemon.name">
        </div>
    </div>
  </div>
  <br>
  <div>
    <pagination-controls
      (pageChange)="page = $event; pokemons = []; loadAllPokemons()">
    </pagination-controls>
  </div>

  <div *ngIf="isSearching" class="pokemon__list">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div>
        <div class="card__info">
          <h2 class="color-white">{{searchPokemon.name}}</h2>
          <span class="color-white" *ngFor="let type of searchPokemon.types">{{type.type.name}}</span>
        </div>
        <div class="card__img">
          <img *ngIf="classicMode" [src]="searchPokemon.sprites?.front_default" [alt]="searchPokemon.name">
          <img *ngIf="!classicMode" src="https://projectpokemon.org/images/normal-sprite/{{searchPokemon.name}}.gif" [alt]="searchPokemon.name">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

